/* -- identifiant -- */
#boite-competences{
  width: 90vw;

  margin: auto;
  margin-top: 10vh;
}

/* -- classes -- */
.progress-bar{
  display: block;

  width: 90px;
  height: 100px

  background-color: white;
}
